<!DOCTYPE HTML>
<html>
    <head>
        <title>Pointer</title>
        <link rel="icon" href="icon.png">

        <style>
            body { margin: 0; overflow: hidden; }
            canvas { width: 100%; height: 100%; }
        </style>
    </head>

    <body>
        <form action="/process">
            <label for="articles">Choose from suggested articles</label>
            <select name="arxiv_id" id="articles">
                <option value="1706.03762">Attention Is All You Need</option>
                <option value="1612.00380">Playing Doom with SLAM-Augmented Deep Reinforcement Learning</option>
                <option value="2311.05804">Model-as-a-Service (MaaS): A Survey</option>
                <option value="1711.06431">Using KL-divergence to focus Deep Visual Explanation</option>
                <option value="2106.04554">A Survey of Transformers</option>
            </select>
            <br><br>
            <input type="submit" value="Submit">
        </form>        
    </body>
</html>
